<h1>Productos para mostrar</h1>

{{#if mostrarProductos}}
{{#each productos}}
<div>
    <p>Titulo: {{this.title}}</p>
    <p>Descripción: {{this.description}}</p>
    <p>En bodega: {{this.stock}}</p>
    <p>Código: {{this.code}}</p>
    <p>Precio: {{this.price}}</p>
    <img src="{{this.img}}" alt="Imagen de {{this.title}}">
</div>
{{/each}}
{{else}}
<p>No se pueden mostrar los productos</p>
{{/if}}